<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>[% navigation.list.-1.title.remove('<.+?>') || 'Главная' %]</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h2>[% navigation.list.-1.title.remove('<.+?>') || 'Главная' %]</h2>
    <section class="content">
        [% content %]
    </section>
    [% INCLUDE footer.tt %]
</body>
</html>
