<style>
    #home_link {
        position: absolute;
        background-image: url('/static/img/arrow_left.png');
        /*background-color: #fff;*/
        background-position: center center;
        background-size: cover;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
</style>
<div id="home_link" onclick="goBack()"></div>

<script>
function goBack() {
    window.history.back();
}
</script>